@{
    ViewBag.Title = "Index";
}

<h1 style="padding-bottom:0;padding-top:0; text-align:center;">What we can do for you</h1>

<table style="width:100%">
    <tr>

        <td style="width:33%; vertical-align:text-top ">
            <h3 style="text-align:center">Residential Plumbing Services</h3>
            
            <img height="200px" width="100%"  style=" box-shadow: 10px 10px 5px #888888;" />
            
            <p>
                Soweto Plumber will attend to any sort of general Residential Plumbing Services in Soweto which can include the following: Burst Pipes in Soweto. New Basins in Soweto. New Toilets in Soweto. Heat Pumps in Soweto. Tap Washers in Soweto. Solar Geysers in Soweto. Blocked Drains in Soweto. New Water Mains in Soweto. New Showers in Soweto. Valve Replacements in Soweto. Water Saving Devices in Soweto. Geyser Replacements in Soweto. Toilet Seat Replacements in Soweto. Bathroom Renovations in Soweto. General Toilet Repairs in Soweto and Plumbing Maintenance in Soweto.
            </p>
        </td>

        <td style="width:33%; vertical-align:text-top">
            <h3 style="text-align:center">Commercial Plumbing Services</h3>
            
            <img height="200px" width="100%"  style=" box-shadow: 10px 10px 5px #888888;" />
            
            <p>
                Soweto Plumber take care of many corporate and commercial companies. We can design, install and maintain commercial plumbing systems in Soweto for both new and old offices. We offer plumbing repairs in Soweto and plumbing maintenance in Soweto. We offer preventative plumbing maintenance in Soweto and a 24 hour commercial plumbing emergency service in Soweto. Soweto Plumber design and install a range of industrial plumbing systems, these include: Hot Water Boiler Systems in Soweto. High Pressure Water Mains in Soweto and Above Ground Drainage Systems in Soweto.
            </p>
        </td>

        <td style="width:33%; vertical-align:text-top">
            <h3 style="text-align:center">Emergency Plumbing Services</h3>
           
    
             <img height="200px" width="100%" style=" box-shadow: 10px 10px 5px #888888;" />

            <p>
                Soweto Plumber are a 24 Hour Plumbing Service as well as a Emergency Plumber. We are open 24 hours a day and 7 days a week. If you are looking for professional, honest and reliable 24 Hour Plumbing Service in Soweto or Emergency Plumbers in Soweto then call Soweto Plumber.
            </p>
        </td>

    </tr>

</table>


